/* impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centratura {
  padding: 0 10%;
}
.riga::after {
  content: "";
  display: table;
  clear: both;
}
.colonna15 {
  float: left;
  width: 15%;
  height: 100px;
}
.colonna25 {
  float: left;
  width: 25%
}
.colonna30 {
  float: left;
  width: 30%;
  padding: 0 2%;
  text-align: center;
}
.colonna50{
  float: left;
  width: 50%;

}
.colonna70 {
  float: left;
  width: 70%;
}
.colonna85 {
  float: left;
  width: 85%;
  height: 100px;
}
select{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: grey;
}
select:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.3);
}
/* impostazioni header */
header {
  padding-top: 100px;
  font-size: 18px;
}
header ul{
  list-style-type: none;
  height: 100px;
  line-height: 100px;
}
header li {
  display: inline-block;
}
header li:hover {
  cursor: pointer;
}
/* impostazioni prima riga header */
.sfondoriga1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: #f5f8fa;
  border-bottom: #33475b;
}
.link-nav li:first-child {
  margin-right: 19px;
}
.link-nav li a {
  padding-left: 20px;
  border-left: solid 2px grey;
}
.link1-nav{
  text-align: right;
}
.link1-nav li{
  margin-left: 20px;
}
.link1-nav li input {
  background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/search%20icon.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
  background-color: rgba(255, 0, 0, 0);
  height: 35px;
  width: 35px;
  border: none;
  padding-left: 35px;
  font-size: 18px;
  color : lightgrey;
}
.link1-nav li input:hover {
  width: 200px;
  border-radius: 8px;
  border: solid 1px #30d3d9;
}
#login {
  width: 90px;
  height: 50px;
  background-color: white;
  color: #ff7a59;
  border: solid 2px #ff7a59;
}
#login:hover {
  background-color: rgba(255, 122, 89, 0.3);
}
.button2 {
  width: 180px;
  height: 50px;
  margin-bottom: 30px;
}
/* impostazioni seconda riga header */
.colonna15 nav {
  height: 100%;
  width: 100%;
  position: relative;
}
#logo {
  position: absolute;
  top:50%;
  left: 0;
  transform: translatey(-50%);
}
/* impostazioni terza riga header */
.sfondoriga3 {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  height: 650px;
}
.terzariga {
  padding-top: 50px;
  width: 52%;
}
h1 {
  font-size: 45px;
  margin-bottom: 30px;
}
.terzariga p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 30px;
}
.button3 {
  height: 50px;
  width: 200px;
  margin-bottom: 30px;
}
.terzariga p:last-child {
  font-size: 12px;
}
/* impostazioni generali main */
main {
  background-color: #f5f8fa;
}
main section{
  margin-bottom: 30px;
}
main h2 {
  font-size: 32px;
  margin-bottom: 30px;
}
main h3 {
  font-size: 25px;
  margin-bottom: 30px;
}
main h4 {
  font-size: 18px;
  margin-bottom: 30px;
}
main p {
  line-height: 1.8;
  margin-bottom: 30px;
}
main ul {
  list-style-type: none;
  margin-bottom: 30px;
}
.rigamain {
  background-color: white;
  border-radius: 8px;
  border: solid 1px lightgrey;
}
.imgcolonna30  {
  height: 150px;
  padding-top: 30px;
  margin-bottom: 30px;
}
.learnmore {
  height: 50px;
  width: 160px;
  margin-bottom: 30px;
}
/* impostazioni prima riga main (4riga totale)*/
.quartariga{
  text-align: center;
  padding: 50px 25%;
}
#imgcubo {
  height: 250px;
}
/* impostazioni seconda riga del mian (5 riga totale) */
.contenitorepopolar{
  padding: 30px 25% 0 5%;
}
.bloccopopolar{
  margin-bottom: 30px;
}
.bloccopopolar::after {
  content: "";
  display: table;
  clear: both;
}
.colonnina1 {
  float: left;
  width: 35%;
  height: 40px;
  line-height: 40px;
}
.colonnina2 {
  float:left;
  width: 65%;
  height: 20px;
  border-bottom: solid 2px lightgrey;
}
.ulquintariga li {
  display: inline-block;
  margin-right: 20px;
}
.chekmark {
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
/* impostazioni terza riga main (6 riga totale) */
.colonnacentrale {
  margin: 0 5%;
}
.ulsestariga {
  text-align: left;
}
/*  impostazioni quarta riga main (7 riga totale)  */
.sfondoriga7 {
  background-color: #00bda5;
  color: #fff;
  text-align: center;

}
.riga7 {
  padding: 30px 6% 80px;;
}
.sottoriga7 {
    border-bottom: solid 1px #fff;
}
.riga7 .colonna25 {
  border-right: solid 1px #fff;
}
.riga7 .colonna25:last-child {
  border-right: none;
}
.imgriga7 {
  height: 50px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.riga7 span{
  font-size: 18px;
  vertical-align: middle;
}
/* impostazioni quinta riga main (8 riga totale) */
.contenitorecustomers {
  padding: 0 20%;
  text-align: left;
}
.contenitoresponsor{
  text-align: right;
  padding-right: 15%;
  margin-bottom: 10px;
}
.imgsponsor{
  width: 18%;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
/* impostazioni sesta riga main (9 riga totale) */
.contenitore-col50-riga9 {
  padding: 30px 25% 0 0;
}
.contenitore-col50-riga9 p:last-child {
  font-size: 13px;
}
.contenitore-imgdonna {
  text-align: right;
}
.imgdonna {
  width: 48%;
}
/* impostazioni generali footer */
footer {
  height: 500px;
  color: #fff;
  padding-top: 30px;
  background-color: #33475b;
}
footer h3 {
  margin-bottom: 30px;
}
footer ul {
  list-style-type: none;
}
footer li {
  line-height: 3;
}
footer a{
  color: #fff;
}
#contact {
  background-color: #fff;
  color: #33475b;
  height: 40px;
  width: 180px;
}
/* impostazioni prima riga footer ( 10 riga totale) */
/* impostazioni seconda riga footer ( 10 riga totale) */
/* impostazioni terza riga footer ( 10 riga totale) */
