/* impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centratura {
  padding: 0 10%;
}
.riga::after {
  content: "";
  display: table;
  clear: both;
}
.colonna15 {
  float: left;
  width: 15%;
  height: 100px;
}
.colonna30 {
  float: left;
  width: 30%;
  height: 200px;
  border: solid 1px black;
}
.colonna50{
  float: left;
  width: 50%;
}
.colonna70 {
  float: left;
  width: 70%;
  height: 200px;
  border: solid 1px black;
}
.colonna85 {
  float: left;
  width: 85%;
  height: 100px;
}
select{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: grey;
}
select:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.3);
}
/* impostazioni header */
header {
  padding-top: 100px;
  font-size: 18px;
}
header ul{
  list-style-type: none;
  height: 100px;
  line-height: 100px;
}
header li {
  display: inline-block;
}
header li:hover {
  cursor: pointer;
}
/* impostazioni prima riga header */
.sfondoriga1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: #f2f8ff;
  border-bottom: #33475b;
}
.link-nav li:first-child {
  margin-right: 19px;
}
.link-nav li a {
  padding-left: 20px;
  border-left: solid 2px grey;
}
.link1-nav{
  text-align: right;
}
.link1-nav li{
  margin-left: 20px;
}
#login {
  width: 90px;
  height: 50px;
  background-color: white;
  color: #ff7a59;
  border: solid 2px #ff7a59;
}
#login:hover {
  background-color: rgba(255, 122, 89, 0.3);
}
.button2 {
  width: 180px;
  height: 50px;
}
/* impostazioni seconda riga header */
.colonna15 nav {
  height: 100%;
  width: 100%;
  position: relative;
}
#logo {
  position: absolute;
  top:50%;
  left: 0;
  transform: translatey(-50%);
}
/* impostazioni terza riga header */
.sfondoriga3 {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  height: 650px;
}
.terzariga {
  padding-top: 30px;
  width: 50%;
}
h1 {
  font-size: 45px;
  margin-bottom: 30px;
}
.terzariga p {
  font-size: 15px;
    line-height: 2;
  margin-bottom: 30px;
}
.button3 {
  height: 50px;
  width: 200px;
  margin-bottom: 30px;

}
/* impostazioni main */
/* impostazioni prima riga main (4riga totale)*/
.sfondoriga4{
  background-color: lightblue;
}
/* impostazioni terza riga main (6 riga totale) */
.colonnacentrale {
  margin: 0 5%;
}
/* impostazioni footer */
footer {
  height: 500px;
  background-color: green;
}
